{% extends 'stock_portfolio/base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
      <div id="portfolio_container">
        <h1>{{ portfolio.name }}</h1>
        <ul>
{% for stock in portfolio.stocks.all %}
          <li>{{ stock.yahoo_symbol }}: {{ stock.name }}</li>
{% endfor %}
        </ul>

        <div class="input-group" id="stock_searchbar_group">
          <input type="text" class="form-control" id="stock_searchbar">
          <span class="input-group-btn">
            <button id="add_stock" class="btn btn-default" type="button">{% bootstrap_icon 'plus' %}</button>
          </span>
        </div>
        <div id="portfolio" class="table-responsive">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Stock</th>
                <th>Market</th>
                <th>Owned</th>
                <th>PRU</th>
                <th>Last</th>
                <th>Profit</th>
                <th></th>
            </thead>
            <tbody>
              <tr>
                <td>BNP Paribas SA</td>
                <td>Paris</td>
                <td>77</td>
                <td>50.31</td>
                <td>51.44</td>
                <td>352.13</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger">Sell</button><button type="button" class="btn btn-default btn-success">Buy</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Electricite de France SA</td>
                <td>Paris</td>
                <td>350</td>
                <td>10.21</td>
                <td>9.84</td>
                <td>-20.13</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger">Sell</button><button type="button" class="btn btn-default btn-success">Buy</button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total</b></td>
                <td>332.00</td>
                <td>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
{% endblock %}

{% block bootstrap3_extra_script %}
<script src="{% static 'stock_portfolio/js/typeahead.jquery.js' %}"></script>
<script src="{% static 'stock_portfolio/js/stock_portfolio.js' %}"></script>
{% endblock %}
